/* body {
    padding-top: 5rem;
  } */
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
.fixed-column {
    width: 200px;
}
hr {
  border-color: white;
}
.last-column {
  width: 150px !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  font-weight: bold;
}