<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{ context["title"] }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" ></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
      /* @media (min-width: 768px) {
        .action-form {
          max-width: 500px;
        }
      } */
    </style>
  </head>
  <body class="bg-primary">
    <nav class="navbar navbar-expand-sm navbar-primary">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home</a>
          </li>
        </ul>
        <span class="navbar-text mx-2 text-white">Hello, User</span>
        <a class="navbar-text text-white" href="">Log-in</a>
      </div>  
    </nav>
    
    <!-- <div class="container">
      <div class="row">
        <div class="col"> -->
          <div class="card mx-5" style="width: 18rem;">
            <div class="card-header">
              Weather
            </div>
            <div class="card-body mx-10">
              <h5 class="card-title">Atyrau</h5>
              <p class="card-text">Temperature: {{context["weather"]}} &#8451;</p>
            </div>
          </div>
        <!-- </div>
      </div>
    </div> -->

    <div class="container">
    {% block body %}{% endblock %}
    </div>
  </body>
</html>