<nav class="navbar navbar-expand-sm navbar-primary">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
      </ul>
      {% if context['user'] != "" %}
      <span class="navbar-text mx-2 text-white">
        Hello, <b>{{context['user']}}</b>
      </span>
      <a class="navbar-text text-white" href="/logout">Log-out</a>
      {% endif %}
    </div>  
  </nav>