{% extends "base.html" %}
{% block weather %}
  <div class="card mx-5" style="width: 18rem;">
    <div class="card-header">
      Weather
    </div>
    <div class="card-body mx-10">
      <h5 class="card-title">Atyrau</h5>
      <p class="card-text">Temperature: {{context["weather"]}} &#8451;</p>
    </div>
  </div>
{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col text-center text-white fs-1 fw-bold">To-Do List</div>
      </div>
    </div>
    
    <div class="container">

      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show rounded-4" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      {% endif %}
    {% endwith %}

    <form action="{{ url_for('tasks') }}" method="post" class="my-5">
      <div class="input-group w-auto">
          <input type="hidden" name="user_id" value="1" />
          <input type="text" name="task_title" class="form-control rounded-4" placeholder="Task title" />
          <button class="btn btn-light rounded-4 mx-4" type="submit">
              Add Task
          </button>
      </div>
    </form>
    <hr class="my-5"/>
    <div class="table-responsive">
      <table class="table-primary w-100 table-hover">
        {% if context["tasks"]|length > 0 %}
        {% for task in context["tasks"] %}
        <tbody>
          <tr class="">
            <td class="col-xs-8 text-white {% if task[2] == 1 %} text-decoration-line-through {% endif %}" colspan="2">{{task[1]}}</td>
            <td class="col-xs-2"></td>
            <td class="last-column text-end"><a href="{{ url_for('done', id=task[0]) }}" class="btn btn-success btn rounded-4">Done</a> <a href="{{ url_for('remove', id=task[0]) }}" class="btn btn-danger btn rounded-4">Delete</a></td>
          </tr>
        </tbody>
        {% endfor %}
        {% endif %}
      </table>
    </div>
    </div>
{% endblock %}